* {
    box-sizing: border-box;
}
@font-face {
    font-family: Redrose;
    src: url(/fonts/RedRose-Regular.ttf);
}

body {
    background-color: whitesmoke;
    margin: auto;
    text-align: center;
    font-family: Redrose;
}

button {
    cursor: pointer;
    display: inline-block;
    font-family: Redrose;
    padding: 5px 10px;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.canvas-container {
    background-color: whitesmoke;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}