* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    margin: auto;
    text-align: center;
    font-family: Redrose;
}

button {
    cursor: pointer;
    display: inline-block;
    font-family: Redrose;
    padding: 5px 10px;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

input {
    border: 1px solid black;
    width: 250px;
    height: 30px;
}

.modal {
    display: none;
    position: absolute;
    left: 20%;
    top: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.gallery {
    width: 100%;
    height: 60%;
}

.gallery-img {
    width: 200px;
    height: 200px;
}